<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="services">
            <div class="1stRow">
                <img src="{{ url_for('static', filename='images/vaccumCleaner.jpg') }}" alt="Cleaning" />
                <img src="{{ url_for('static', filename='images/pest.jpg') }}" alt="Pest Control" />
            </div>
            <div class="2ndRow">
                <img src="{{ url_for('static', filename='images/ac.jpg.jpg') }}" alt="Ac servicing" />
                <img src="{{ url_for('static', filename='images/Furniture.jpg') }}" alt="Repair" />
            </div>
            
        </div>
        <div class="text">
            <p>Premium Room services at your door step</p>
        </div>
    </div>
</body>
</html>